nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 1%;
  text-decoration: none;
  color: black;
  font-size: 2vh;
}

nav a:hover {
  color: red;
}
