.App {
}

header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  margin: 5% 15%;
}

h3 {
  font-size: 2vh;
  color: grey;
}

/* Additional styling for text and inputs */
input[type="text"],
input[type="password"],
textarea {
  font-size: 2vh; /* Increased font size */
  padding: 8px; /* Added padding */
  border: 1px solid #ccc; /* Added border */
  border-radius: 4px; /* Added border radius */
}

.price-dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price {
  font-size: 3vh;
  color: #556265;
  align-self: center;
}

button {
  font-size: 16px; /* Increased font size */
  padding: 8px 16px; /* Added padding */
  background-color: #61dafb; /* Added background color */
  color: white;
  border: none;
  border-radius: 4px; /* Added border radius */
  cursor: pointer;
}

button:hover {
  background-color: #45a6d9; /* Added hover color */
}

.date {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.date .spots-left {
  color: gray;
}
